

html {
    color: coral;
    font-family: cursive;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-size: 1.2em;
}

img {
    width: 100%;
    height: auto;
}


header {
    background-color: lightblue;
    color: coral;
    padding: 1cm;
    text-align: left;
    font-size: 40px;
    font-family: cursive;
}

main {
    background: yellow;
    padding: 80px 0 0;
}

footer {
    background-color: lightblue;
    color: coral;
    padding: 1cm;
    text-align: left;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;

}



.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5cm ;
    padding: 0.5cm;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1500px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.grid-container article {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    padding: 1.5em;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 40px;
}


.grid-container img {
    width: 110%;
    height: 400px;
    object-fit: cover;
}


button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    color: white;
    background-color: coral;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 380px;
}



dialog {
    border-color: white;
    background-color: yellow;
    width: 75vw;
    padding: 0.5em 1em;
}


.dialog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


dialog ul {
    margin: 0.5em 0 1em;
    padding-inline-start: 1.5em;
}

/* Define the animation */
@keyframes moveDialog {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5px, -5px);
  }
  20% {
    transform: translate(-10px, -10px);
  }
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, 5px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  70% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Apply the animation to the dialog when hovering over it */
#dialog:hover {
  animation-name: moveDialog;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}





